* {
  margin: 0;
  padding: 0;
  font-family: "Zilla Slab", serif;
}
.slidebox {
  width: 88%;
  position: relative;
  margin-left: 10%;
  margin-top: 7%;
}
body {
  background-color: violet;
}
.slide {
  display: none;
}
#head {
  background-color: rgb(245, 139, 139);
  text-align: center;
  font-family: cursive;
  position: fixed;
  top: 0;
  width: 100vw;
  font-family: "Josefin Sans", sans-serif;
}

.slide img {
  width: 20%;
  border-radius: 20px;
  border: 7px solid orangered;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.cart2 a img {
  width: 19%;
  border-radius: 60px;
}
.cart2 a {
  margin-left: 43%;
}
.cartsA {
  margin-top: 5%;
  display: flex;
  margin-left: 12%;
}
.cartsB {
  margin-top: 5%;
  display: flex;
  margin-left: 12%;
}
h1 {
  text-align: center;
  color: bisque;
  padding-top: 2%;
}

h2 {
  text-align: center;
  margin-bottom: 2%;
}
h3 {
  text-align: center;
}
h4 {
  margin: 0 1%;
  font-size: 1.7rem;
}
.cartinfo p {
  margin-top: 3%;
}
#mes {
  margin-top: 3%;
  font-size: 3rem;
}
.cart1 {
  width: 37%;
  border: 2px solid black;
  height: 53vh;
  padding: 2%;
  border-radius: 20%;
  box-shadow: 8px 7px 10px rgb(24, 23, 23);
  transition: (0.5s);
}
span img {
  width: 100px;
  border-radius: 50px;
}
.cartinfo {
  margin-top: 15%;
}
#art {
  position: absolute;
  top: 0;
  margin-left: 50%;
  width: 300px;
  border-radius: 150px;
  border: 8px solid orangered;
}
.cart1:hover {
  transform: scale(1.1);
}
.cart2:hover {
  transform: scale(1.1);
}
.cart2 {
  width: 37%;
  border: 2px solid black;
  margin-left: 11%;
  height: 50vh;
  padding: 2%;
  border-radius: 20%;
  transition: (0.5s);
  box-shadow: 8px 7px 10px rgb(24, 23, 23);
}
.won {
  background-color: rgb(20, 196, 240);
}
#headrow {
  background-color: rgb(224, 184, 184);
}
table {
  background-color: rgb(202, 245, 245);
  border-radius: 8px;
  margin: 5% auto;
}
td {
  text-align: center;
}
#awd {
  font-size: 1.3rem;
}
.score {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.social {
  margin-top: 1%;
  text-align: center;
  border: 2px solid black;
  border-radius: 26px;
  width: 20%;
  margin-left: 38%;
  padding: 1%;
}
.social a {
  margin-left: 2%;
}
.social a img {
  width: 54px;
  border-radius: 20px;
}
.social a img:hover {
  transform: scale(1.2);
  transition: 0.3s;
}
#hd {
  margin-top: 3%;
}
.info {
  margin-top: 3%;
  margin-left: 10%;
}
.about {
  margin-top: 3%;
  margin-left: 10%;
}
footer {
  height: 32vh;
  background-color: gray;
  text-align: center;
}
footer p {
  margin-top: 5%;
  padding-top: 5%;
  font-size: 2rem;
}
.contact {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.contact img {
  width: 40px;
  border-radius: 20px;
}
.contact a {
  margin-left: 1%;
}
.contact img:hover {
  transform: scale(1.3);
}
#scr {
  position: fixed;
  right: 10px;
  bottom: 60px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: none;
  background-color: red;
  color: aliceblue;
  font-size: 2rem;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
