* {
    margin: 0;
    padding: 0;
}

li a {
    text-decoration: none;
    color: black;
    font-size: 21px;
    font-family: fantasy;
}

li a:hover {
    /* background-color: gray; */
    color: #cc2333;
}

li {
    list-style: none;
    margin-top: 110%;
    padding: 10%;
}

.main {
    display: flex;
}


.sidebar {
    width: 200px;
    height: 90vh;
    /* background-size: cover; */
    background-color: gray;
    transition: 0.7ms ease-in;
}



.remainScreen {
    /* background-color: aqua; */
    background-image: url('../img/wbg7.jpg');
    background-size: cover;
    display: flex;
    color: azure;
    height: 90vh;

}

h1 {
    text-align: center;
    background-color: aquamarine;
    border: 1px solid black;
    font-family: monospace;
    position: fixed;
    top: 0;
    width: 100%;
}

h2 {
    text-align: center;
    font-family: cursive;
}

.head {
    margin-top: 18%;
    margin-left: 2%;
}

.disimg img {
    border-radius: 60px;
    margin-top: 10%;
    height: 49%;


}

.disimg {
    margin-right: 3%;
    margin-top: 9%;
}

html {
    scroll-behavior: smooth;
}

.head p {
    margin-top: 2%;
    font-size: 17px;
    font-family: cursive;
    margin-left: 15%;
}

.about {
    height: 70vh;
    /* border: 2px solid black; */
    background-image: url('../img/wbg2.jpg');
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(129, 51, 51, 0.7);
    color: azure;
}

.ab {
    margin-top: 20%;
    text-align: center;
    font-size: 22px;
    font-family: cursive;
}

.about h2 {
    padding: 7px;
    /* height: 50vh; */
}

.cv {
    height: 70vh;
    /* background-color: blueviolet; */
    /* border: 1px solid black; */
    background-image: url('../img/wbg4.jpg');
    background-size: cover;
}

.cv h2 {
    padding: 3%;
}

.cv h4 {
    text-align: center;
    margin-top: 1%;
    font-size: 21px;
    font-family: sans-serif;
    padding: 5px;
}

.c {
    margin-top: 5%;
}

.skill {
    height: 60vh;
    /* border: 2px solid black; */
    background-image: url('../img/wbg3.jpg');
    background-size: cover;
    background-blend-mode: darken;
    padding-top: 1rem;
    background-color: rgba(112, 239, 243, 0.938);
}

.bt {
    margin-top: 25%;
    position: absolute;
    margin-left: 26%;
}

.btn {
    border: 2px solid black;
    background-color: cornflowerblue;
    color: white;
    border-radius: 20px;
    margin-top: 29%;
    /* margin-left: 25%; */
    padding: 12px;
    font-size: 16px;
    width: 10em;
    font-weight: 500;
    font-family: sans-serif;
    margin-left: 1em;
}

.btn:hover {
    color: cornflowerblue;
    background-color: white;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: azure;
    font-size: 1em;
}
a:hover{
    color:royalblue;
    /* background-color: blanchedalmond; */
}
.a{
    margin-left: 45%;
    margin-top: 4%;
}
.btn1{
    border: 2px solid black;
    background-color: cornflowerblue;
    color: white;
    border-radius: 20px;
    
    padding: 2px;
    font-size: 1em;
    width: 9em;
    font-weight: 500;
    font-family: sans-serif;
    /* margin-left: 1em; */
}

.s {
    margin-top: 5%;
    border: 2px solid black;
    width: 46%;
    margin-left: 32%;
    padding: 21px;
    background-color: cornflowerblue;

}
.box {
    background-color: cornflowerblue;
    width: 32%;
    height: 7px;
    border: 2px solid black;
    border-radius: 10px;
}

.seventyp {
    width: 24%;
    background-color: cornflowerblue;
}

.sixtp {
    width: 19%;
    background-color: cornflowerblue;
}

span {
    margin-left: 25%;
}
button#scr {
    position: fixed;
    right: 10px;
    bottom: 60px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: red;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    color: azure;
    outline: none;
    border: none;
    cursor: pointer;
}

button#scr:active {
    background: #cc2333;
}

footer {
    background-color: black;
    width: 99%;
    height: 40px;
    color: azure;
    text-align: center;
    padding: 6px;
}
